:root {
    --bg-color: #101010;
    --accent-color: #51c39b;
    --light-color: #fff;
    --orange-color: #ffb347;
    --purple-color: #C3B1E1;
    --blue-color: #6093ac;
    --green-color: #C1E1C1;
    --red-color: #ff6961;
    --yellow-color: #FDFD96;
    --typewriterSpeed: 4s;
    --quote1-gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

html, body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--bg-color);
}

div.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    text-align: center;
}

div.home h1.name {
    font-size: clamp(5rem, 3vw + 1rem, 4rem);
    font-family: "Source Code Pro", monospace;
    width: max-content;
    color: var(--light-color);
    position: relative;
}

div.home h1.name::before,
div.home h1.name::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.home h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(24) 2s forwards;
}

div.home h1::after {
    width: .125em;
    background: var(--light-color);
    animation: typewriter var(--typewriterSpeed) steps(24) 2s forwards, blink 750ms steps(24) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

p.welcome {
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p.hidden-text {
    color: #111111;
    font-size: 2rem;
}

header {
    background-color: var(--accent-color);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0;
    transform: translateY(-3rem);
    animation: fadeInDown 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1.logo {
    color: var(--bg-color);
    font-size: 2.4rem;
}

input.nav-toggle {
    display: none;
}

label.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: var(--light-color);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--accent-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--bg-color);
}

input.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

input.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
    label.nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1.5fr auto minmax(600px, 3fr) 1fr;
    }

    h1.logo {
        grid-column: 1 / 3;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--bg-color);
        position: absolute;
        bottom: -.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

div.about {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    height: 80vh;
    width: 80vw;
    display: block;
    text-align: left;
    color: var(--light-color);
    font-family: 'Source Code Pro', monospace;
}

div.top > div.text {
    place-content: center;
}

div.about > div.text {
    max-width: 55%;
    float: left;
}

div > h1.code{
    font-size: 3rem;
}

div.about > div.text p{
    color: var(--green-color);
    font-size: 1.5rem;
    margin-left: 5rem;
}

div.about > div.text p.more {
    color: var(--orange-color);
}

[data-aos="typewriter1"] {
    display: table;
    opacity: 0;
}

[data-aos="typewriter1"].aos-animate {
    position: relative;
    opacity: 1;
}

[data-aos="typewriter1"].aos-animate::before,
[data-aos="typewriter1"].aos-animate::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-aos="typewriter1"].aos-animate::before {
    background: var(--bg-color);
    animation: typewriterP 750ms steps(16) 1s forwards;
}

[data-aos="typewriter1"].aos-animate::after {
    width: .125em;
    background: var(--light-color);
    animation: typewriterP 750ms steps(16) 1s forwards, blink 250ms steps(16) 1s infinite;
}

[data-aos="typewriter2"] {
    display: table;
    opacity: 0;
}

[data-aos="typewriter2"].aos-animate {
    position: relative;
    opacity: 1;
}

[data-aos="typewriter2"].aos-animate::before,
[data-aos="typewriter2"].aos-animate::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-aos="typewriter2"].aos-animate::before {
    background: var(--bg-color);
    animation: typewriterP 750ms steps(18) calc(750ms + 1s) forwards;
}

[data-aos="typewriter2"].aos-animate::after {
    width: .125em;
    background: var(--light-color);
    opacity: 0;
    animation: hide 0s calc(750ms + 1s) forwards, typewriterP 750ms steps(18) calc(750ms + 1s) forwards, blink 250ms steps(18) calc(750ms + 1s) infinite;
}

@keyframes hide {
    to {
        opacity: 1;
    }
}

@keyframes typewriterP {
    to {
        left: 100%;
    }
    100% {
        animation-delay: 500ms;
        overflow: hidden;
        display: none;
        visibility: hidden;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }

}

div.about > div.text p.print {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--orange-color);
    margin-left: 10rem;
    letter-spacing: 0.1em;
}

div.about > div.text p.print a {
    color: var(--orange-color);
}

div.about > div.image {
    overflow: hidden;
    padding-left: 10em;
    padding-top: 5em;
}

div.about > div.image > img {
    width: 60%;
    height: 60%;
    border: 7px solid var(--light-color);
}

[data-aos="image-fade-left"] {
    opacity: 0;
    transform: translateX(3em);
    transition-property: transform, opacity;
}
[data-aos="image-fade-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

div.quote1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    top: 200px;
    width: 60vw;
    /* height: 100vh; */
    display: block;
}

@media screen and (max-width: 1000px) {
    div.quote1 {
        padding-top: 400px;
    }
}

div.quote1 > div.box {
    display: table;
    border: 2px solid red;
}

div.quote1 h1 {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic; 
    font-family: "Source Sans Pro", sans-serif;
}

div.quote1 .start {
    text-align: left;
    padding-bottom: 6em;
    background-color: var(--bg-color);
}

div.quote1 .start div,
div.quote1 .end div {
    display: inline-block;
    border: 2px solid white;
    padding: 0.5em 0.5em;
    color: var(--bg-color);
    box-shadow: var(--bg-color);
}

div.quote1 .start h1{
    background-image: var(--quote1-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: gradient-animation 3s infinite alternate;
}

div.quote1 .end h1  {
    background-image: var(--quote1-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: gradient-animation 3s infinite alternate-reverse;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

div.quote1 .end {
    text-align: right;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: var(--bg-color);
}

div.quote1 .author {
    position: relative;
    top: 3em;
    display: inline;
}

div.quote1 .author button {
    background-color: var(--bg-color);
    border: 2px solid var(--light-color);
}

div.quote1 .author button .hover {
    display: none;
}

div.quote1 .author button:hover .noHover {
    display: none;
}

div.quote1 .author button:hover .hover {
    display: inline;
}

div.quote1 .author button span {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic; 
    font-family: "Source Sans Pro", sans-serif;
    background-image: linear-gradient(to right, white,#d65db1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 1000%;
    background-position: left;
    transition: background-position 1s;
}

div.quote1 .author button span:hover {
    background-position: right;
}

[data-aos="typewriter-clowns"] {
    display: table;
    opacity: 0;
}

[data-aos="typewriter-clowns"].aos-animate {
    position: relative;
    opacity: 1;
}

[data-aos="typewriter-clowns"].aos-animate::before,
[data-aos="typewriter-clowns"].aos-animate::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-aos="typewriter-clowns"].aos-animate::before {
    background: var(--bg-color);
    animation: typewriterP 800ms steps(20) 800ms forwards;
}

[data-aos="typewriter-clowns"].aos-animate::after {
    width: .125em;
    background: var(--light-color);
    animation: typewriterP 800ms steps(20) 800ms forwards, blink 250ms steps(20) 800ms infinite;
}

[data-aos="typewriter-crossy"] {
    display: table;
    opacity: 0;
}

[data-aos="typewriter-crossy"].aos-animate {
    position: relative;
    opacity: 1;
}

[data-aos="typewriter-crossy"].aos-animate::before,
[data-aos="typewriter-crossy"].aos-animate::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-aos="typewriter-crossy"].aos-animate::before {
    background: var(--bg-color);
    animation: typewriterP 800ms steps(11) 800ms forwards;
}

[data-aos="typewriter-crossy"].aos-animate::after {
    width: .125em;
    background: var(--light-color);
    animation: typewriterP 800ms steps(11) 800ms forwards, blink 250ms steps(11) 800ms infinite;
}

[data-aos="reveal-box"] {
    transition-property: transform;
    overflow-x: hidden;
    transform-origin: left;
}

[data-aos="reveal-box"].aos-animate {
    position: relative;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 500ms ease-in-out ;
}

div.projects {
    margin-left: auto;
    margin-right: auto;
    padding-top: 13vh;
    width: 80vw;
    display: block;
    text-align: left;
    color: var(--light-color);
    font-family: 'Source Code Pro', monospace;
}

div.projects > div.wrapper > div {
    padding-left: 10em;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: 100%;
}

div.projects div.box {
    display: block;
    width: 70vw;
    height: 25%;
    position: absolute;
    margin-top: -12.5%;
    padding: 0;
}

div.projects > div div h1 {
    left: 3rem;
}

div.projects div > div.text div p.github:hover a{
    color: var(--bg-color);
    text-align: center;
}

div.projects div > div.text {
    width: 70vw;
    height: 100%;
}

div.projects div > div.text > div {
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

div.projects div > div.text p{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 0;
}

div.projects div > div.text div p {
    display: inline-block;
    width: 10rem;
    padding: 0;
    text-align: center;
}

div.projects div > div.text div p.github {
    float: right;
}

div.projects div > div.text div p.github a{
    text-decoration: none;
}

div.projects div > div.text div p.github:hover {
    float: right;
    color: transparent;
    text-align: center;
}

div.clownsweeper > div h1 {
    color: var(--purple-color);
}

div.clownsweeper div.box {
    background-color: var(--purple-color);
    border: 2px solid var(--purple-color);
}

div.clownsweeper > div.text {
    border: 2px solid var(--purple-color);
}

div.clownsweeper > div.text p {
    color: var(--purple-color);
}

div.clownsweeper > div.text div p {
    border: 2px solid var(--purple-color);
}

div.clownsweeper > div.text div p.github a{
    color: var(--purple-color);
}

div.clownsweeper > div.text div p.github:hover {
    background-color: var(--purple-color);
}

div.crossy > div h1 {
    color: var(--blue-color);
}

div.crossy div.box {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

div.crossy > div.text {
    border: 2px solid var(--blue-color);
}

div.crossy > div.text p {
    color: var(--blue-color);
}

div.crossy > div.text div p {
    border: 2px solid var(--blue-color);
}

div.crossy > div.text div p.github a{
    color: var(--blue-color);
}

div.crossy > div.text div p.github:hover {
    background-color: var(--blue-color);
}

div.tictactoe > div h1 {
    color: var(--red-color);
}

div.tictactoe div.box {
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
}

div.tictactoe > div.text {
    border: 2px solid var(--red-color);
}

div.tictactoe > div.text p {
    color: var(--red-color);
}

div.tictactoe > div.text div p {
    border: 2px solid var(--red-color);
}

div.tictactoe > div.text div p.github a{
    color: var(--red-color);
}

div.tictactoe > div.text div p.github:hover {
    background-color: var(--red-color);
}
